.container {
    height: 20%;
    width: 100%;
    border-bottom: #AA3333;
    color: #AA3333;
    background-color: #AA3333;
}
.container form {
    background-color: #AA3333;
    color: #AA3333;
    float: right;
}
.logo {
    background-color: #AA3333;
    width: 60%;
    height: 100%;
    float: right;
}
