{% extends 'screen/algemeen.html.twig' %}
    {% block nav %}
        <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_instructeurs') }}">Instructeurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_leden') }}">Leden</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_training') }}">Trainingen</a>
        </li>
    {% endblock %}
    {% block content %}

            <H4>Welkom bij Trainings Centrum Den Haag</H4>
        <a>
            Den Haag Traing Center is een sportschool waar onder professionele begeleiding<br>
            in een veilige omgeving verschillende soorten martial arts-, indoor bootcamp, <br>
            personal- en small group trainingen worden aangeboden. Hier kan je je inschrijven <br>
            op een les of uitschrijven op een les.
        </a>
    {% endblock %}