{% extends 'screen/algemeen.html.twig' %}
    {% block nav %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_bezoek_homepage') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_bezoek_aanbod') }}">Trainings Aanbod</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_bezoek_lidword') }}">Lid Worden</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Gedragsregels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('app_bezoek_locatie') }}">Lokatie & contact</a>
        </li>
    {% endblock %}
    {% block content %}
        <h5>Gedragsregels</h5>
        Respect voor jouw omgeving en de mensen om je heen is zeer belangrijk voor ons. Het vormt de basis van elke sport.
        Onze gedragsregels zijn ter bescherming van uzelf, uw teamgenoten en uw omgeving. Wij verwachten dan ook dat alle deelnemers zich voor, tijdens en na elke training houden aan de door ons opgestelde gedragsregels.
    {% endblock %}