{% extends 'algemeen.html.twig' %}
    {% block nav %}
        <li class="nav-item">
            <a class="nav-link" href="home.html.twig">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Trainings Aanbod</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Lid Worden</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Gedragsregels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Lokatie & contact</a>
        </li>
    {% endblock %}
    {% block content %}

    {% endblock %}