{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" >
        <div class="row">
            <div class="col">
                <div id="Logo">
                    <img src="{{ asset('/img/logo.png') }}" alt="Logo">
                </div>
            </div>
            <div class="col">
                <div class="float-right">
                <form method="post" action="">
                    <input type="text" name="username" placeholder="username">       <br>
                    <input type="text" name="wachtwoord" placeholder="wachtwoord">   <br>
                    <input type="submit" name="inloggen" value="inloggen"> <input type="button" name="resww" value="reset ww">
                </form>
            </div>
            </div>
        </div>


    </div>
{% endblock %}